//这里用来放项目公共的样式
.row-center {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overflow-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}